<!--<form name="newunitForm" novalidate class="form" role="form" ng-submit="onFormSubmit()" id="newunitForm" data-toggle="validator">-->
<form name="newunitForm" novalidate class="form" role="form" ng-submit="onFormSubmit()" id="newunitForm" data-toggle="validator">
    <div class="row">

        <!--<button type="button" class="btn btn-default" ng-click="ResetUnitForm()">ResetUnitForm</button>-->

        <div class="col-xs-12">
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       placeholder="Nombre"
                       ng-model="newUnit.nombre"
                       data-error="Campo requerido"
                       name="nombreInput"
                       required>
                <div class="help-block with-errors"></div>

            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <input type="number" min="0" step="any"
                       class="form-control"
                       placeholder="Altitud"
                       ng-model="newUnit.altitud"></input> (msnm)
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label for="departamentos">Provincia / Cantón: </label>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group munis">
               
                 <!--<select ng-model="newUnit.departamentos" id="departamentos" class="form-control" data-error="Campo requerido" required></select>-->

                <select ng-model="selectedDepartment" class="form-control" 
                        data-error="Campo requerido" ng-options="item for item in depsList" ng-change="onDepartmentoChange()" required></select>

                <select ng-model="selectedMunicipio" class="form-control" ng-show="municipioList.length >0"
                        data-error="Campo requerido" ng-options="item for item in municipioList"></select>


                <div class="help-block with-errors"></div>
            </div>
        </div>



        <div class="col-xs-6">
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       placeholder="Geo Referencia"
                       ng-model="newUnit.ubicacion" id="latlongid">
                <div class="help-block with-errors"></div></input>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="toggle = !toggle; mapInit()">
                        <i class="fa fa-map-marker" aria-hidden="true" ng-show="!toggle"></i>
                        <i class="fa fa-times" aria-hidden="true" ng-show="toggle"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <input type="number" min="0" step="any"
                       class="form-control"
                       placeholder="Area total"
                       ng-model="newUnit.areaTotal"></input>
                (Hectáreas)
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-12">
            <div class="collapse map">
                <i class="fa fa-spinner fa-spin"></i>
                <div id="map-canvas" style="height:200px;width:100%;" ng-class="{ offline: !IsInternetOnline }"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-6">
            <div class="form-group">
                <input type="number" min="0" step="any"
                       class="form-control"
                       placeholder="Area con café"
                       ng-model="newUnit.areaCafe"></input>
                (Hectáreas)
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <select ng-model="oficinaregionalmodel" ng-options="oficinaregional.name for oficinaregional in oficinaregionallst " id="oficinaregional" class="form-control" data-error="Oficina regional" required></select>

                <div class="help-block with-errors"></div>
            </div>
        </div>
        <!--<div class="col-xs-6">
                <div class="form-group">
                    <input type="text"
                          class="form-control"
                          placeholder="Edad del lote"
                          ng-model="newUnit.edadLote"></input>
                          (Años)
                </div>
            </div> -->
        
    </div>

    <!-- new questions -->

    


    <textarea class="form-control" rows="3" ng-model="RecommendationText" ng-show="isRecommendationFieldRequired"></textarea>


    <!-- new questions ends -->
    <input type="submit" class="btn btn-primary" submit="newunitForm" form="newunitForm" value="Guardar nueva" ng-show="Mode == 'ADD' && !isRecommendationFieldRequired" />

    <input type="submit" class="btn btn-primary" style="width: auto; line-height: 1.42857143; float: left;" submit="newunitForm" form="newunitForm"
            value="Salvar Cambios" ng-show="Mode == 'EDIT' && !isRecommendationFieldRequired"/>
    <!--ng-disabled="updateunitForm.$invalid" ng-click="updateUnitForm($event,editUnit._id)">-->
        
    <!--</input>-->
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="CancleForm()" ng-show="Mode == 'EDIT' && !isRecommendationFieldRequired">Cerrar</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-show="isRecommendationFieldRequired">Close</button>
    <!--<button type="button" class="btn btn-default" ng-show="isRecommendationFieldRequired" >Sent recommendation</button>-->
    <input type="submit" class="btn btn-primary" submit="newunitForm" form="newunitForm" ng-show="isRecommendationFieldRequired" value="Sent Recommendation">


</form>

